* {
    font-family: sans-serif;
    color: white;
}

:root {
    --pad: 1em;
    --pad-outer: 1em;
}

body {
    background: #1B1F3B;
    margin: 0;
}

.block {
    background: #2a2f50;
    border-radius: 1em;
    padding: var(--pad);
}
.error {
    background: darkred;
}
.center {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.gray {
    color: gray;
}

.ilb {
    display: inline-block;
}

/* Buttons */
input {
    margin: .5em;
}
input[type="submit"], button {
    background: #383f6b;
    border: none;
    border-radius: 1em;
    padding: 1em;
    cursor: pointer;
}
input:not([type="submit"]) {
    background: #353C6A;
    border: none;
    border-radius: 1em;
    padding: 1em;
    width: 20em;
}
input::placeholder {
    color: gray;
}

.c {
    text-align: center;
}
.cb {
    float: right;
}

.wide {
    width: calc(100vw - 2 * var(--pad) - 2 * var(--pad-outer));
    margin: var(--pad-outer);
}

@media only screen and (max-width: 768px) {
    .icon {
        display: none;
    }    
}

.icon {
    height: 17em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    pointer-events: none;
}

.card {
    box-shadow: 0 0 1em #0005;
    width: calc(80vw - 2 * var(--pad));
    max-width: 20em;
    position: fixed;
    left: 50vw;
    transform: translateX(-50%);
    height: 60vh;
    max-height: 35em;
}

.card > img {
    width: 100%;
}

.card > button {
    width: 9em;
    background: white;
    color: #1B1F3B;
    height: 4em;
    border-radius: 2em;
    margin: .5em;
}
.card > button.second {
    float: right;
    color: white;
    background: #1B1F3B;
}

@keyframes left {
    from {
        left: 50vw;
    }
    to {
        left: -150vw;
        rotate: -50deg;
    }
}
.left {
    animation-name: left;
}

@keyframes right {
    from {
        left: 50vw;
    }
    to {
        left: 250vw;
        rotate: 50deg;
    }
}
.right {
    animation-name: right;
}

.left, .right {
    animation-duration: 1s;
    animation-fill-mode: forwards;
}