<!DOCTYPE html>
<html>
    <head>
        <title>Logging in - stage <%= stage + 1%></title>
        <meta charset="utf-8">
        <link href="/style.css" rel="stylesheet">
        <script src="/password.js" defer></script>
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <div class="block center">
            <% if(error) { %>
                <div class="block error">
                    <h2>Error: <%= error %></h2>
                </div>
            <% } %>
            <h1 class="c">Log in</h1>
            <h2 class="c">Or register!</h2>
            <% if(stage == 0) { %>
                <form method="POST">
                    <input required name="pnid" placeholder="PNID"><br>
                    <input required name="pass" placeholder="Password (hover to see)" type="password"><br>
                    <h5 class="c">Please do not use the same<br>password as on Pretendo.</h5>
                    <input type="submit" class="cb">
                </form>
            <% } else if(stage == 1) { %>
                <h2 class="c">To confirm your account:</h2>
                <p class="c">Please go to Juxtaposition and</p>
                <p class="c">enter the following four digits: <%= code %></p><br><br>
                <p class="c">If you have a 3DS friend code, enter it now.</p>
                <p class="c">After posting the code, wait a few</p>
                <p class="c">minutes and click "Check code".</p>
                <form method="POST">
                    <input name="fc" placeholder="3DS friend code" value="<%= fc %>">
                    <input type="submit" value="Check code" class="cb">
                </form>
            <% } %>
        </div>
    </body>
</html>