<!DOCTYPE html>
<html>
    <head>
        <title>Pinder</title>
        <meta charset="utf-8">
        <link href="/style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        <img src="/icon.svg" class="icon">
        <% if(info) { %>
            <div class="block wide">
                <h2>Info: <%= info %></h2>
            </div>
        <% } %>
    </body>
</html>