<!DOCTYPE html>
<html>
    <head>
        <title>Pinder</title>
        <meta charset="utf-8">
        <link href="/style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script src="/card.js" defer></script>
        <script src="/main.js" defer></script>
    </head>
    <body>
        <a href="/prefs" class="bottom">Preferences</a>
        <img src="/icon.svg" class="icon">
        <% if(info) { %>
            <div class="block wide" id="info">
                <h2>Info: <%= info %></h2>
            </div>
        <% } %>
        <% if(cards.length) { %>
            <% cards.forEach((card, i) => { %>
                <%- include("templates/card", { "pid": card.pid, "pnid": card.pnid, "fc": card.fc, "i": i }) %>
            <% }); %>
        <% } else { %>
            <h2 class="c">Too bad! There are no more cards.</h2>
        <% } %>
    </body>
</html>